doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='generator', content='Kopon')
    title Kopon
    meta(name='theme-color', content='#2E3AA1')
    link(rel='manifest', href='manifest.json')
    meta(name='msapplication-TileColor', content='#3372DF')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='application-name', content='PSK')
    link(rel='icon', sizes='192x192', href='/img/touch/chrome-touch-icon-192x192.png')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='apple-mobile-web-app-title', content='Kopon')
    link(rel='apple-touch-icon', href='/img/touch/apple-touch-icon.png')
    meta(name='msapplication-TileImage', content='/img/touch/ms-touch-icon-144x144-precomposed.png')
    link(rel='stylesheet', href='/css/styles.css')
    script(src='/vendor/webcomponentsjs/webcomponents.js')
    link(rel='import', href='/components/elements.html')
    style(is='custom-style', include='shared-styles')
  body(unresolved='')
    span#browser-sync-binding
    template#app(is='dom-bind')
      paper-drawer-panel#paperDrawerPanel
        paper-scroll-header-panel(drawer='', fixed='')
          paper-toolbar#drawerToolbar
            span.menu-name Menu
          paper-menu(attr-for-selected='data-route', selected='[[route]]')
            a(data-route='home', href='/owner')
              iron-icon(icon='home')
              span Home
            a(data-route='users', href='/owner/users')
              iron-icon(icon='info')
              span Users
            a(data-route='contact', href='/owner/contact')
              iron-icon(icon='mail')
              span Contact
        paper-scroll-header-panel#headerPanelMain(main='', condenses='', keep-condensed-header='')
          paper-toolbar#mainToolbar.tall
            paper-icon-button#paperToggle(icon='menu', paper-drawer-toggle='')
            span.space
            paper-icon-button(icon='refresh')
            paper-icon-button(icon='search')
            a(href='/logout',style='text-decoration:none;color:#fff;')
              iron-icon(icon='lock')
            .middle.middle-container
              .app-name Kopon
            .bottom.bottom-container
              .bottom-title The future of the business today
          .content
            iron-pages(attr-for-selected='data-route', selected='{{route}}')
              section(data-route='home')
                paper-material(elevation='1')
                  my-greeting
                  p.subhead You now have:
                  my-list
                  p
                    | Looking for more Web App layouts? Check out our 
                    a(href='https://github.com/PolymerElements/app-layout-templates') layouts
                    |  collection. You can also 
                    a(href='http://polymerelements.github.io/app-layout-templates/') preview
                    |  them live.
                paper-material(elevation='1')
                  p This is another card.
                paper-material(elevation='1')
                  h1#license License
                  p Everything in this repo is BSD style license unless otherwise specified.
                  p Copyright (c) 2015 The Polymer Authors. All rights reserved.
                  p
                    | Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:
                  ul
                    li
                      | Redistributions of source code must retain the above copyright
                      | notice, this list of conditions and the following disclaimer.
                    li
                      | Redistributions in binary form must reproduce the above
                      | copyright notice, this list of conditions and the following disclaimer
                      | in the documentation and/or other materials provided with the
                      | distribution.
                    li
                      | Neither the name of Google Inc. nor the names of its
                      | contributors may be used to endorse or promote products derived from
                      | this software without specific prior written permission.
                  p
                    | THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
              section(data-route='users')
                paper-material(elevation='1')
                  h2.page-title Users
                  p This is the users section
                  a(href='/owner/users/Addy') Addy
                  br
                  a(href='/owner/users/Rob') Rob
                  br
                  a(href='/owner/users/Chuck') Chuck
                  br
                  a(href='/owner/users/Sam') Sam
              section(data-route='user-info')
                paper-material(elevation='1')
                  h2.page-title User: {{params.name}}
                  div This is {{params.name}}'s section
              section(data-route='contact')
                paper-material(elevation='1')
                  h2.page-title Contact
                  p This is the contact section
      paper-toast#toast
        span.toast-hide-button(role='button', tabindex='0', onclick='app.$.toast.hide()') Ok
    script(src='/js/app.js')
    
