doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='generator', content='Kopon')
    title Kopon
    meta(name='theme-color', content='#2E3AA1')
    link(rel='manifest', href='manifest.json')
    meta(name='msapplication-TileColor', content='#3372DF')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='application-name', content='PSK')
    link(rel='icon', sizes='192x192', href='/img/touch/chrome-touch-icon-192x192.png')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='apple-mobile-web-app-title', content='Kopon')
    link(rel='apple-touch-icon', href='/img/touch/apple-touch-icon.png')
    meta(name='msapplication-TileImage', content='/img/touch/ms-touch-icon-144x144-precomposed.png')
    link(rel='stylesheet', href='/css/styles.css')
    script(src='/vendor/webcomponentsjs/webcomponents.js')
    link(rel='import', href='/components/owner/elements.html')
    style(is='custom-style', include='shared-styles')
  body(unresolved='')
    span#browser-sync-binding
    template#app(is='dom-bind')
      paper-drawer-panel#paperDrawerPanel
        paper-scroll-header-panel(drawer='', fixed='')
          paper-toolbar#drawerToolbar
            span.menu-name Menu
          paper-menu(attr-for-selected='data-route', selected='[[route]]')
            a(data-route='home', href='/owner')
              iron-icon(icon='home')
              span Home
            a(data-route='business', href='/owner/business')
              iron-icon(icon='info')
              span Business
            a(data-route='coupons', href='/owner/coupons')
              iron-icon(icon='info')
              span Coupons
            a(data-route='profile', href='/owner/profile')
              iron-icon(icon='info')
              span Profile
        paper-scroll-header-panel#headerPanelMain(main='', condenses='', keep-condensed-header='')
          paper-toolbar#mainToolbar.tall
            paper-icon-button#paperToggle(icon='menu', paper-drawer-toggle='')
            span.space
            paper-icon-button(icon='refresh')
            paper-icon-button(icon='search')
            a(href='/logout',style='text-decoration:none;color:#fff;')
              iron-icon(icon='lock')
            .middle.middle-container
              .app-name Kopon
            .bottom.bottom-container
              .bottom-title The future of the business today
          .content
            iron-pages(attr-for-selected='data-route', selected='{{route}}')
              section(data-route='home')
                span this is home section
              section(data-route='profile')
                span This is profile section
                owner-profile(user=user)
              section(data-route='coupons')
                span this is coupon section
              section(data-route='business')
                span This is business section
      paper-toast#toast
        span.toast-hide-button(role='button', tabindex='0', onclick='app.$.toast.hide()') Ok
    script(src='/js/owner/app.js')
    
