<!-- Imports polymer -->

<!-- Defines element markup -->
<dom-module id="input-text">
    <template>
        <input type="text" id="inputText"  value="{{value::input}}">
        <button on-click="handleClick">Click to change text!</button>
        <p>Text in the input: {{value}}</p>
    </template>
</dom-module>

<!-- Registers custom element -->
<script>
    Polymer({
        is: 'input-text',
        properties: {
            'value': {
                type: String,
                reflectToAttribute: true,
                notify: true,
                value: null,
                observer:'handleChange'
            }
        },
        handleChange: function() {
            console.log('change');
        },
        handleClick:function(){
            this.value="Hello...!!"
        }
    });
</script>