<!-- Imports polymer -->
<link rel="import" href="../vendor/paper-card/paper-card.html">
<link rel="import" href="../vendor/paper-input/paper-input.html">
<link rel="import" href="../vendor/paper-button/paper-button.html">
<!-- Defines element markup -->
<dom-module id="owner-login">
  <template>
    <style>    
      :host {
        @apply(--layout-vertical);
        @apply(--layout-center);
        padding:16px;
      }
      paper-card {
        width:350px;                
        --paper-card-header-color: var(--paper-pink-500);
      }

      paper-button {
        float: right;
        color: var(--paper-pink-500);
      }      
    </style>    
    <paper-card heading="Owner Login">
      <div class="card-content">
        <paper-input value="{{username}}" label="Username" type="text" auto-validate required></paper-input>
        <paper-input value="{{password}}" label="Password" type="password" auto-validate required></paper-input>        
      </div>
      <div class="card-actions">
        <paper-button on-click="login">Login</paper-button>      
      </div>
    </paper-card>
  </template>
</dom-module>

<!-- Registers custom element -->
<script>
  Polymer({
    is: 'owner-login',
    properties: {
      username: {type:String},
      password: {type:String}  
    },    
    login:function(){
      var data = {};      
      data.username = this.username;
      data.password = this.password;      

      $.ajax({
        url:"/login",
        data: JSON.stringify(data),
        contentType: "application/json",
        method: "POST"
      }).done(function(msg){
        if(msg.success == 1) {
          window.location.href = "/owner/index"          
        }
      }).fail(function(err){
        console.log(err);
      });
    }
  });

</script>
