<!-- Imports polymer -->
<link rel="import" href="/vendor/paper-material/paper-material.html">
<link rel="import" href="/vendor/paper-input/paper-input.html">
<link rel="import" href="/vendor/paper-button/paper-button.html">
<!-- Defines element markup -->
<dom-module id="owner-login">
  <template>
    <style>    
      :host {
        @apply(--layout-vertical);
        @apply(--layout-center);        
      }      

      paper-material {
        padding: 16px;        
        max-width: 280px;
        width: 280px;
        margin: 50px;
      }

      paper-button {                        
        margin: 0;
      }      

      #login {
        width: 100%;
        color: #fff;        
        background: var(--paper-pink-500);
      }

      #forgotpassword {  
        width: 100%;      
        color: var(--paper-pink-500);
      }

      #signup {
        color: var(--paper-pink-500);
      }
    </style>    
      <paper-material elevation="2" id="form">              
        <paper-input value="{{username}}" label="Username" type="text" auto-validate required></paper-input>
        <paper-input value="{{password}}" label="Password" type="password" auto-validate required></paper-input>        
        <br>        
        <paper-button on-click="login" id="forgotpassword">Forgot password?</paper-button>
        <br>
        <br>
        <paper-button raised on-click="login" id="login">Login</paper-button>
        <br>
        <br>
        Don't have an account? <paper-button on-click="signup" id="signup">Sign Up</paper-button>
      </paper-material>    
  </template>
</dom-module>

<!-- Registers custom element -->
<script>
  Polymer({
    is: 'owner-login',
    properties: {
      username: {type:String},
      password: {type:String}  
    },
    signup:function() {
      window.location.href = "/signup";
    },
    login:function(){
      var that = this;
      var data = {};      
      data.username = this.username;
      data.password = this.password;      

      $.ajax({
        url:"/login",
        data: JSON.stringify(data),
        contentType: "application/json",
        method: "POST"
      }).done(function(msg){
        if(msg.success == 1) {
          window.location.href = "/owner"          
        } else {
          //error
        }
      }).fail(function(err){
        console.log(err);
      });
    }
  });

</script>
